html{
	scroll-behavior: smooth;
}

header{
    background: rgba(0, 0, 0, 0.9);
	color: white;
	margin: auto;
	width: 100%;
	height: 100%;
	padding: 15px;
	border-bottom: gray 3px outset;
}

header ul{
	margin: 0;
	padding: 0;
}

header li{
	float: left;
	display; inline;
	padding: 0 20px 0 20px;
}

header a{
	color: white;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 18px;
}

header #my-Name{
	float: left;
}

header #my-Name h1 a{
	font-size: 40px;
	font-family: Do Hyeon;
	font-weight: bold;
	color: #F7F4F4;
	-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

#my-Name h1 a:hover{
	color: yellow;
}

header ul{
	list-style-type: none;
}

header nav{
	float: right;
	margin-top: 38px;
}

header li a{
	font-size: 20px;
	font-family: Do Hyeon;
	font-weight: bold;
	color: #F7F4F4;
	-webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
}

header li a:hover{
	color: yellow;
}

/*#index-header{
	width: 1920px;
	height: 1080px;
	background: url("Project Images/homegif.webm");
	background-repeat: no-repeat;
}*/

/*THIS SECTION IS FOR THE HOMEPAGE*/
#home-body{
	margin: 0;
}

#index-header{
    background: rgba(0, 0, 0, 0.9);
	color: white;
	margin: auto;
	width: 100%;
	height: 100%;
}

#home-video {
    position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%; 
	min-height: 100%;
}

#home-overlay{
    position: fixed;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

#home-Name h1 a{
	font-family: Do Hyeon;
	font-weight: bold;
	font-size: 120px;
	-webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

#home-Name h1 a:hover{
	color: yellow;
}

#home-Name p{
	font-family: Trebuchet MS;
	color: white;
	/*margin-top: -70px;*/
	font-size: 48px;
	-webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

#home-items{
	margin: 0;
	padding: 0 5px 0 5px;
}

#home-items li a{
	font-size: 22px;
	font-family: Do Hyeon;
	font-weight: bold;
	color: #F7F4F4;
	-webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
}

#home-items li a:hover{
	background: none;
	color: yellow;
}

/*END OF HOMEPAGE SECTION*/

.container{
	width: 80%;
	margin: 0 auto;
	overflow: hidden;
}

body{
	background-color: #F7F4F4;
	margin: auto;
	font-family: Trebuchet MS;
	line-height: 1.5;
	/*overflow-x: hidden;*/
}

h2{
	margin: 50px;
	left: 1.5%;
	font-family: Trebuchet MS;
/*	text-shadow: 0 0 15px black;*/
}

p{
	color: black;
	font-family: Trebuchet MS;
	margin-left: 75px;
	margin-right: 75px;
	font-size: 20px;
	padding: 10px;
}

/*div {
	text-align: center;
}*/

h1, h2{
	color: black;
	font-family: Do Hyeon;
	font-weight: bold;
	font-size: 36px;
}

li{
	color: black;
	font-family: Trebuchet. MS;
}

li a{
	text-decoration: none;
}

a{
	color: black;
	font-family: Trebuchet MS;
}

.proj-items li{
	margin: 50px;
	padding: 0.5px;
	font-family: Trebuchet MS;
	color: white;
	font-size: 18px;
}

/*THIS SECTION IS FOR COURSESAMPLES.HTML*/

#rspirits-style{
	/*margin-left: -50px;*/
	background: #F7F4F4;
	background-size: cover;
	object-fit: fill;
	width: 100%;
	padding: 15px;
	border-bottom: 3px #F7F4F4 outset;
}

#rspirits-style h2 a{
	font-family: Do Hyeon;
	font-weight: bold;
	font-size: 40px;
	text-decoration: none;
	color: black;
}

#rspirits-style h2 a:hover{
	color: yellow;
	text-shadow: 0 0 15px black;
}

#rspirits-style li{
	color: black;
}

#quizzical-style{
	/*margin-left: -50px;*/
	background: rgba(49, 185, 79, 0.8);
	background-size: cover;
	object-fit: fill;
	width: 100%;
	padding: 15px;
	border-bottom: 3px rgba(49, 185, 79, 0.8) outset;
}

#quizzical-style h2 a{
	font-family: Do Hyeon;
	font-weight: bold;
	font-size: 40px;
	text-decoration: none;
	color: white;
}

#quizzical-style h2 a:hover{
	color: yellow;
	text-shadow: 0 0 15px black;
}

#crypt-style{
	/*margin-left: -50px;*/
	background: rgba(48, 61, 232, 0.8);
	background-size: cover;
	object-fit: fill;
	width: 100%;
	padding: 15px;
	border-bottom: 3px rgba(48, 61, 232, 0.8) outset;
}

#crypt-style h2 a{
	font-family: Do Hyeon;
	font-weight: bold;
	font-size: 40px;
	text-decoration: none;
	color: white;
}

#crypt-style h2 a:hover{
	color: yellow;
	text-shadow: 0 0 15px black;
}

#malware-style{
	/*margin-left: -50px;*/
	background: rgba(255, 143, 150, 0.8);
	background-size: cover;
	object-fit: fill;
	width: 100%;
	padding: 15px;
	border-bottom: 3px rgba(255, 143, 150, 0.8) outset;
}

#malware-style h2 a{
	font-family: Do Hyeon;
	font-weight: bold;
	font-size: 40px;
	text-decoration: none;
	color: white;
}

#malware-style h2 a:hover{
	color: yellow;
	text-shadow: 0 0 15px black;
}

#chat-style{
	/*margin-left: -50px;*/
	background: rgba(255, 195, 15, 0.8);
	background-size: cover;
	object-fit: fill;
	width: 100%;
	padding: 15px;
	border-bottom: 3px rgba(255, 195, 15, 0.8); outset;
}

#chat-style h2 a{
	font-family: Do Hyeon;
	font-weight: bold;
	font-size: 40px;
	text-decoration: none;
	color: #4D4D4D;
}

#chat-style h2 a:hover{
	color: yellow;
	text-shadow: 0 0 15px black;
}

#chat-style li{
	color: #4D4D4D;
}

#memory-style{
	/*margin-left: -50px;*/
	background: rgba(102, 255, 255, 0.8);
	background-size: cover;
	object-fit: fill;
	width: 100%;
	padding: 15px;
	border-bottom: 3px rgba(102, 255, 255, 0.8); outset;
}

#memory-style h2 a{
	font-family: Do Hyeon;
	font-weight: bold;
	font-size: 40px;
	text-decoration: none;
	color: #4D4D4D;
}

#memory-style h2 a:hover{
	color: yellow;
	text-shadow: 0 0 15px black;
}

#memory-style li{
	color: #4D4D4D;
}

#iterator-style{
	/*margin-left: -50px;*/
	background: rgba(51, 51, 51, 0.8);
	background-size: cover;
	object-fit: fill;
	width: 100%;
	padding: 15px;
	border-bottom: 3px rgba(51, 51, 51, 0.8); outset;
}

#iterator-style h2 a{
	font-family: Do Hyeon;
	font-weight: bold;
	font-size: 40px;
	text-decoration: none;
	color: white;
}

#iterator-style h2 a:hover{
	color: yellow;
	text-shadow: 0 0 15px black;
}

#probability-style{
	/*margin-left: -50px;*/
	background: rgba(244, 158, 255, 0.8);
	background-size: cover;
	object-fit: fill;
	width: 100%;
	padding: 15px;
	border-bottom: 3px rgba(244, 158, 255, 0.8); outset;
}

#probability-style h2 a{
	font-family: Do Hyeon;
	font-weight: bold;
	font-size: 40px;
	text-decoration: none;
	color: white;
	color: #4D4D4D;
}

#probability-style h2 a:hover{
	color: yellow;
	text-shadow: 0 0 15px black;
}

#probability-style li{
	color: #4D4D4D;
}

#algorithm-style{
	/*margin-left: -50px;*/
	background: rgba(106, 175, 27, 0.8);
	background-size: cover;
	object-fit: fill;
	width: 100%;
	padding: 15px;
	border-bottom: 3px rgba(106, 175, 27, 0.8); outset;
}

#algorithm-style h2 a{
	font-family: Do Hyeon;
	font-weight: bold;
	font-size: 40px;
	text-decoration: none;
	color: white;
}

#algorithm-style h2 a:hover{
	color: yellow;
	text-shadow: 0 0 15px black;
}

#books-style{
	/*margin-left: -50px;*/
	background: rgba(255, 237, 117, 0.8);
	background-size: cover;
	object-fit: fill;
	width: 100%;
	padding: 15px;
	border-bottom: 3px rgba(255, 237, 117, 0.8); outset;
}

#books-style h2 a{
	font-family: Do Hyeon;
	font-weight: bold;
	font-size: 40px;
	text-decoration: none;
	color: #4D4D4D;
}

#books-style h2 a:hover{
	color: yellow;
	text-shadow: 0 0 15px black;
}

#books-style li{
	color: #4D4D4D;
}

#shirt-style{
	/*margin-left: -50px;*/
	background: rgba(0, 0, 0, 0.8); inset;;
	background-size: cover;
	object-fit: fill;
	width: 100%;
	padding: 15px;
	border-bottom: 3px rgba(0, 0, 0, 0.8); outset;
}

#shirt-style h2 a{
	font-family: Do Hyeon;
	font-weight: bold;
	font-size: 40px;
	text-decoration: none;
	color: #F7F4F4;
}

#shirt-style h2 a:hover{
	color: yellow;
	text-shadow: 0 0 15px black;
}

#shirt-style li{
	color: #F7F4F4;
}
/*END OF COURSESAMPLES SECTION*/

/*THIS SECTION IS FOR PERSONAL PROJECTS*/
#aniflix-style{
	/*margin-left: -50px;*/
	background: #F7F4F4;
	background-size: cover;
	object-fit: fill;
	width: 100%;
	padding: 15px;
	border-bottom: 3px #F7F4F4 outset;
}

#aniflix-style h2 a{
	font-family: Do Hyeon;
	font-weight: bold;
	font-size: 40px;
	text-decoration: none;
	color: black;
}

#aniflix-style h2 a:hover{
	color: yellow;
	text-shadow: 0 0 15px black;
}

#aniflix-style li{
	color: black;
}

#maze-style{
	/*margin-left: -50px;*/
	background: rgba(49, 185, 79, 0.8);
	background-size: cover;
	object-fit: fill;
	width: 100%;
	padding: 15px;
	border-bottom: 3px rgba(49, 185, 79, 0.8) outset;
}

#maze-style h2 a{
	font-family: Do Hyeon;
	font-weight: bold;
	font-size: 40px;
	text-decoration: none;
	color: #F7F4F4;
}

#maze-style h2 a:hover{
	color: yellow;
	text-shadow: 0 0 15px black;
}

#ruby-style{
	/*margin-left: -50px;*/
	background: rgba(255, 92, 92, 0.8);
	background-size: cover;
	object-fit: fill;
	width: 100%;
	padding: 15px;
	border-bottom: 3px rgba(255, 92, 92, 0.8) outset;
}

#ruby-style h2 a{
	font-family: Do Hyeon;
	font-weight: bold;
	font-size: 40px;
	text-decoration: none;
	color: #F7F4F4;
}

#ruby-style h2 a:hover{
	color: yellow;
	text-shadow: 0 0 15px black;
}

#lemon-style{
	/*margin-left: -50px;*/
	background: rgba(255, 237, 117, 0.8);
	background-size: cover;
	object-fit: fill;
	width: 100%;
	padding: 15px;
	border-bottom: 3px rgba(255, 237, 117, 0.8) outset;
}

#lemon-style h2 a{
	font-family: Do Hyeon;
	font-weight: bold;
	font-size: 40px;
	text-decoration: none;
	color: black;
}

#lemon-style h2 a:hover{
	color: yellow;
	text-shadow: 0 0 15px black;
}

#lemon-style li{
	color: black;
}









/*END OF PERSONAL PROJECTS SECTION*/


#edu-items ul, #cert-items ul{
	list-style-type: none;
}

#edu-items li, #cert-items li{
	margin: 40px;
	color: black;
	padding: 10px;
	font-size: 16px;
	text-decoration: none;
}

#edu-items li a, #cert-items li a{
	text-decoration: none;
	color: black;
}

.button-text-center{
	text-align: center;
	margin: 0 auto;
	position: relative;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	display: inline-block;
}

.btn-group button {
	background: rgb(204, 204, 204); 
	background: rgba(204, 204, 204, 0.5);
	border: 1px solid black; 
	color: black; 
	padding: 10px 24px 10px; 
	cursor: pointer; 
	float: left; 
}

.btn-group a{
	text-decoration: none;
	color: black;
}
/*.btn-group button:not(:last-child) {
	border-right: none; 
}*/

.btn-group:after {
	content: "";
	clear: both;
	display: table;
}

.btn-group button:hover{
  background-color: black;
  color: yellow;
}

#button-resume{
	text-align: center;
	font-family: Do Hyeon;
	font-weight: bold;
	font-size: 18px;
	padding-bottom: 50px;
}

.proj-access h2 a{
	text-decoration: none;
	font-family: Do Hyeon;
	font-weight: bold;
	color: black;
}

.proj-access h2 a:hover{
	color: yellow;
	text-shadow: 0 0 15px black;
}

img{
	float: right;
	padding: 1px;
	margin: 25px 7.5px 25px 7.5px;
}

footer{
	clear: both;
	background: rgba(0, 0, 0, 0.9);
	color: white;
	font-family: Trebuchet MS;
	text-align: center;
	height: 100%;
	width: 100%;
	margin: auto;
	padding: 15px;
}