header{
    background: black;
	color: white;
	padding: 15px;
}

body{
	background-image: url("site background.jpg");
	background-position: center; 
	background-repeat: no-repeat; 
	background-color: #cccccc;
}

h2{
	position: relative;
	left: 1.5%;
	text-shadow: 0 0 5px black;
}

p{
    background: rgb(204, 204, 204); 
    background: rgba(204, 204, 204, 0.5);
	color: black;
	font-size: large;
	padding: 10px;
}

div {
	text-align: center;
}

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
    overflow: scroll;
	overflow-x: hidden;
  	font-size: 24px;
    background: rgb(204, 204, 204); 
    background: rgba(204, 204, 204, 0.5);
}

#menu-items li {
	float: left;
	text-transform: uppercase;
}

#menu-items li, a {
	display: inline-block;
	color: black;
	text-align: center;
	padding: 16px;
	text-decoration: none;
}

#menu-items li a:hover, #cert-items li a:hover{
	background-color: #111111;
	color: yellow;
}

h1, h2, #menu-items li{
	color: #fbf5f5;
}

#edu-items li, #cert-items li{
	color: black;
	text-align: center;
	padding: 10px;
}

.button-text-center{
	text-align: center;
	margin: 0 auto;
	position: relative;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	display: inline-block;
}

.btn-group button {
	background: rgb(204, 204, 204); 
	background: rgba(204, 204, 204, 0.5);
	border: 1px solid black; 
	color: black; 
	padding: 10px 24px; 
	cursor: pointer; 
	float: left; 
}

.btn-group button:not(:last-child) {
	border-right: none; 
}

.btn-group:after {
	content: "";
	clear: both;
	display: table;
}

.btn-group button:hover {
  background-color: #111111;
  color: yellow;
}

.divider{
    width:0.5px;
    height:auto;
    display:inline-block;
}

footer{
	clear: both;
    background: black;
	color: white;
	text-align: center;
	padding: 15px;
}